.advantages {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0 30px;
    margin-bottom: 80px;
}
.advantages__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
    gap: 25px;
}
.advantages__card img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
}
.advantages__card-title {
    font-family: 'Stengazeta';
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    color: var(--color-primary);
}
.advantages__card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-primary);
    text-align: left;
    line-height: 25px;
}
.advantages__card-text--narrow {
    width: 225px;
}
.advantages__card-img {
    margin-left: 80px !important;
}
