.banner {
    background-image: url('../images/banner-bg.webp');
    background-repeat: no-repeat;
    max-width: 1920px;
    padding: 135px 0px 160px 280px;
    display: flex;
    justify-content: left;
}
.banner__content {
    width: 600px;
}
.banner__title::before {
    font-family: 'Roboto', sans-serif;
    content: 'Не устроит результат? Вернём вам деньги!';
    display: block;
    font-size: 12px;
    color: var(--color-primary);
    text-transform: none;
}
.banner__title {
    font-size: 52px;
    font-weight: 400;
    font-family: 'Stengazeta';
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 40px;
}
.banner__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 430px;
    color: var(--color-primary);
    margin-bottom: 80px;
}

.banner__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    height: 85px;
    width: 345px;
    border-radius: 20px;
    padding: 25px 30px;
}
.banner__button-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-white);
}

.banner__button-subtext {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--color-white);
}

@media (max-width: 1750px) {
    .banner {
        background-position: 50% 0;
        padding: 135px 0px 160px 200px;
    }
}

@media (max-width: 1550px) {
    .banner {
        background-position: 70% 0;
        padding: 135px 0px 160px 85px;
    }
}

@media (max-width: 1250px) {
    .banner {
        /*  background-image: url('../images/banner-800px.webp'); */
        display: flex;
        justify-content: left;
    }
}
