.footer {
    flex-shrink: 0;
    height: 872px;
    max-width: 1920px;
    background: #f4f7f7;
    /*outline: 8px rgb(133, 5, 69) solid;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__content {
    /* outline: 8px rgb(5, 133, 11) solid;*/
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.footer__block-lists {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.footer__title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 150px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2f3e53;
}
.footer__lists {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.footer__lists-item {
    margin: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2f3e53;
}

.footer__lists-link {
    color: #2f3e53;
    text-decoration: none;
}

.footer__text {
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 240px;
    color: #2f3e53;
    text-decoration: none;
}

/* .footer__contacts {
} */
.footer__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 184px;
}
/* .footer__icon {
} */

.footer__paragraph {
    margin: 0;
    max-width: 473px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #111111;
    margin-top: 80px;
}
@media (max-width: 1450px) {
    .footer__content {
        width: 85%;
    }
}
@media (max-width: 1250px) {
    .footer__content {
        width: 90%;
    }
}
@media (max-width: 1000px) {
    .footer__lists_center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__paragraph {
        font-size: 10px;
        margin-top: 30px;
    }
    .footer__title {
        font-size: 14px;
    }
    .footer__lists-link {
        font-size: 14px;
    }
    .footer__text {
        font-size: 14px;
    }
    .footer__lists-item {
        font-size: 14px;
    }
    .footer__icon {
        width: 35px;
        height: 35px;
    }
    .footer__socials {
        justify-content: flex-start;
        gap: 15px;
        margin-top: 10px;
    }
    .footer__content {
        justify-content: space-between;
        padding-left: 20px;
    }
}
@media (max-width: 900px) {
    .footer {
        padding-top: 10px;
        height: auto;
    }
}
@media (max-width: 750px) {
    .footer__title {
        font-size: 10px;
    }
    .footer__lists-link {
        font-size: 10px;
    }
    .footer__text {
        font-size: 10px;
    }
    .footer__lists-item {
        font-size: 10px;
        margin-bottom: 0;
    }
    .footer__icon {
        width: 25px;
        height: 25px;
    }
    .display-none750px {
        display: none;
    }
}
@media (max-width: 500px) {
    .footer__content {
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 колонки: первая будет занимать 1 часть, а вторая 2 части */
        gap: 10px; /* Уменьшаем отступы */
    }

    .footer__block-lists {
        grid-column: 1 / 2; /* Первая колонка */
        grid-row: 1 / 2; /* Первая строка */
    }
    .footer__information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__information,
    .footer__openingHours,
    .footer__contacts {
        grid-column: 2 / 3; /* Все эти элементы будут в первой колонке */
        grid-row: 1 / 2; /* Первая строка */
        max-width: 140px;
    }
    .footer__openingHours {
        margin-top: 185px;
    }
    .footer__contacts {
        margin-top: 235px;
    }
    h6.footer__title {
        margin-bottom: 10px;
        line-height: 15px;
    }
    .footer__text {
        margin-top: -15px;
    }
}
@media (max-width: 380px) {
    .footer__content {
        grid-template-columns: 1fr 1fr; /* 2 колонки: первая будет занимать 1 часть, а вторая 2 части */
        gap: 10px;
        padding-right: 0;
    }
    .footer__information,
    .footer__openingHours,
    .footer__contacts {
        margin-right: -20px;
        max-width: 120px;
    }
    .footer__socials {
        width: auto;
    }
}
