.form {
    display: flex;
    width: 100%;
    padding-right: 25px;
}
.form__leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form__rightside {
    padding-top: 70px;
}
.form__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Stengazeta';
    color: var(--color-primary);
    margin-bottom: 20px;
    padding-left: 70px;
}
.form__title_secondary {
    color: var(--color-secondary);
    margin-bottom: 0;
}
.form__img {
    margin-top: -65px;
}
.form__form-title {
    font-size: 24px;
    font-family: 'Stengazeta';
    color: var(--color-primary);
    margin-bottom: 15px;
}
.form__form {
    border: 1px solid var(--color-primary);
    border-radius: 12px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 25px 30px;
}
.form__form-text {
    font-size: 20px;
    font-family: 'Roboto';
    color: var(--color-primary);
    margin-bottom: 25px;
    font-weight: 900;
    line-height: 16px;
}
.form__label {
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--color-black);
    opacity: 0.5;
}
.form__input {
    margin-bottom: 15px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.form__input::placeholder {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--color-black);
    opacity: 0.5;
}
.form__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    width: 345px;
    border-radius: 6px;
    padding: 16px 20px;
    border: none;
    color: var(--color-white);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
}
@media (max-width: 1250px) {
    .form__img {
        width: 600px;
        height: auto;
    }
    .form {
        justify-content: space-around;
        align-items: center;
    }

    .form__title_secondary {
        margin-bottom: 10px;
    }
}
@media (max-width: 900px) {
    .form__title_secondary {
        margin-bottom: 25px;
    }
    .form__img {
        width: 400px;
        height: auto;
    }
    .form__title {
        padding-left: 25px;
        font-size: 32px;
    }
    .form__rightside {
        padding-top: 15px;
    }
    .form__form-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .form__form {
        padding: 20px 10px 15px 15px;
    }
    .form__label {
        font-size: 10px;
    }
    .form__form-text {
        font-size: 16px;
    }
}
