.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-bottom: 80px;
}
.hiddenOnDesctop {
    display: none;
}

.services__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Stengazeta';
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 40px;
}
.services__subtitle {
    text-align: center;
    width: 850px;
    font-size: 24px;
    line-height: 31px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--color-secondary);
    margin-bottom: 40px;
}
.services__subtitle_bold {
    font-weight: 700;
    font-size: 20px;
}
.services__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    background: #fff;
    justify-content: space-evenly;
    margin-bottom: 70px;
}
.services__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 426px;
    width: 500px;
}

.services__item-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Stengazeta';
    color: var(--color-primary);
    text-align: center;
    height: 40px;
}

.services__item-img {
    flex-grow: 1;
    object-fit: contain;
    margin-bottom: 20px;
    max-width: 400px;
}

.services__item-text {
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    height: 40px;
}

.services__item-price {
    font-size: 24px;
    font-family: 'Roboto';
    text-align: center;
    height: 40px;
}
.servces__disclaimer {
    text-align: left;
    width: 100%;
    color: black;
    opacity: 0.4;
    padding-left: 10px;
}
.services__details {
    display: flex;
    gap: 55px;
    align-items: flex-start;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 60px;
}
.services__details-item,
.services__details-text {
    color: var(--color-primary);
    font-size: 24px;
    line-height: 40px;
}
.services__details-text {
    margin-left: -30px;
}
.services__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 21px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    align-self: center;
}
.services__instructions-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 250px;
}
.services__instructions-title {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-secondary);
}
.services__line-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    padding-right: 50px;
}
.services_line {
    width: 100%;
    max-width: 200px;
    height: 1px;
    background: var(--color-primary);
}
.services__card-box {
    display: flex;
    gap: 10px;
    padding: 0 90px;
}
.services__instructions-text {
    font-size: 14px;
    color: var(--color-secondary);
}
.hidden-on-desctop-services {
    display: none;
}

@media (max-width: 1250px) {
    .hidden-on-desctop-services {
        display: flex;
    }
    .services__list {
        padding: 0 30px;
    }
    .services__line-box {
        gap: 17.5%;
    }
    .services_line {
        display: none;
    }
    .hidden-on-mobile {
        display: none;
    }
    .services__card-box {
        padding: 0 20px;
    }
}
@media (max-width: 1060px) {
    .services__list-item {
        max-width: 450px;
        height: auto;
    }
    .services {
        margin-bottom: 30px;
    }
    .services__title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .services__circle {
        min-width: 35px;
        max-width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .services__instructions-title {
        font-size: 14px;
        font-weight: 500;
    }
    .services__instructions-card {
        width: 150px;
        align-items: center;
    }
    .services__instructions-text {
        text-align: center;
    }
    .services__line-box {
        padding-right: 20px;
        gap: 0;
        justify-content: space-evenly;
    }
    .services__details-item {
        font-size: 14px;
        line-height: 20px;
    }
    .services__details-img {
        width: 35px;
        height: auto;
        margin-left: -20px;
    }
    .services__details {
        flex-direction: column;
        gap: 20px;
        padding: 0 0 0 80px;
    }
    .services__details-text {
        border: 1px solid #15d1d9;
        text-align: center;
        padding: 10px 30px;
        font-size: 14px;
        line-height: 20px;
        align-self: center;
        justify-self: center;
    }
    .services__details-item:last-of-type {
        margin-bottom: 15px;
    }
    .hiddenOnDesctop {
        display: block;
    }
    .services__item-img {
        width: 240px;
        margin-bottom: 10px;
    }
    .services__item-text {
        font-size: 14px;
    }
    .services__item-price {
        font-size: 14px;
    }
    .services__item-title {
        font-size: 32px;
        margin-bottom: 0px;
    }
    .services__subtitle {
        display: none;
    }
    .services__list-item {
        max-width: 280px;
        height: auto;
        padding: 10px;
    }
    .services__list {
        margin-bottom: 0;
    }
}
@media (max-width: 780px) {
    .services__card-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .services__instructions-card {
        width: 60%;
    }
}
@media (max-width: 500px) {
    .services__instructions-card {
        width: 90%;
    }
    .services__card-box {
        padding: 0 20px;
    }
}
