.side-banners {
    display: flex;
}
.side-banners__left {
    background-image: url('../images/side-bg-left.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 380px;
    height: 9863px;
}

.side-banners__right {
    background-image: url('../images/side-bg-right.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 380px;
    height: 9863px;
}
.side-banners__content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
