.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
    background-color: #fff;
}
.socials__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Stengazeta';
    color: var(--color-primary);
}
.socials__buttonbox {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    padding: 0 5px;
}
.socials__buttonbox-button {
    font-family: 'Roboto';
    font-size: 24px;
    color: #fff;
    background: var(--color-primary);
    border-radius: 20px;
    padding: 8px 5px 8px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    width: 360px;
}
.socials_banner {
    padding: 120px 5px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(2, 180, 190, 0.25), rgba(2, 180, 190, 0.25)),
        url('/images/banner-socials.webp');
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
.socials-text {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 800;
    color: var(--color-white);
    padding: 0 150px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
