@font-face {
    font-family: 'Stengazeta';
    src: url('Stengazeta-Regular.woff2') format('woff2'),
        url('Stengazeta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
